.forecast-container {
  margin-top: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.forecast-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.forecast-days {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-date {
  font-weight: bold;
  margin-bottom: 5px;
}

.forecast-icon {
  width: 50px;
  height: 50px;
}

.forecast-temp {
  font-size: 1.2rem;
  font-weight: bold;
}
