.app-header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;
  box-sizing: border-box;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
}

.app-title {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.app-header > :last-child {
  margin-left: auto;
}
